.generalInfo__Page .labelWithTooltip {
  display: flex;
  align-items: center
}
.generalInfo__Page .icon {
  cursor: pointer;
  width: 15px;
  margin-left: 15px;
}
.generalInfo__Page .select {
  width: 300px;
}